.home-main{
    width: 60%;
    margin: 0 20%;
    background: red;
    &-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &-article{
      width: 280px;
      height: 340px;
      background: blue;
      margin: 20px;
    }
}