.main-page {
    display: flex;
    justify-content: center;
    align-items: center;
    &-info {
      position: fixed;
      background: rgba(97, 97, 97, .3);
      width: 80%;
      height: 60%;
      max-width: 440px;
      max-height: 320px;
      z-index: 10;
      border-radius: 12px;
      &-header {
        margin-top: 20px;
        text-align: center;
        header {
          display: inline-block;
          color: #fff;
          font-size: 28px;
          font-weight: bold;
        }
        img {
          margin-left: 20px;
          width: 50px;
          height: 50px;
          border-radius: 100%;
        }
      }
      &-site {
        margin: 20px;
        margin-left: 5%;
        background: rgba(154, 154, 154, .5);
        width: 90%;
        height: 40px;
        line-height: 40px;
        border-radius: 8px;
        font {
          font-size: 20px;
          color: #fff;
          margin-left: 20px;
        }
        a,Link{
          margin-left: 10px;
          text-decoration: none;
          color: #fff;
          font-size: 18px;
          &:hover {
            color: #000;
          }
        }
        &:hover {
          animation: changeColor 1s linear;
        }
      }
      &-links{
        width: 60%;
        margin: 0 auto;
      }
      h3 {
        margin-top: 10px;
        text-align: center;
        color: #fff;
        font-size: 20px;
      }

    }
  }
  @keyframes changeColor {
    from {
      background: rgba(154, 154, 154, .5);
      color:#fff;
    }

    to {
      background: rgba(255, 255, 255, 0.815);
      color:#000;
    }
  }
